.tilt-root {
    width: 500px;
    height: 500px;
    line-height: 250px;
    background: linear-gradient(0.125turn, #e66465, #9198e5);
    position: relative;
}

.tilt-child{
    width: 300px;
    height: 300px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
}